body {
    background-color: #ede7f6;
    font-family: 'Poppins', sans-serif;
  }
  .form-container {
    max-width: 650px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .btn-light-mor {
    background-color: #e1bee7;
    color: #4a148c;
    border: none;
  }
  .btn-mor {
    background-color: #ba68c8;
    color: white;
    border: none;
  }
  .btn-dark-mor {
    background-color: #6a1b9a;
    color: white;
    border: none;
  }
  .btn:hover {
    opacity: 0.9;
  }
  .navbar .nav-link.active {
    font-weight: bold;
    text-decoration: bold;
  }
  .bg-dark-purple {
    background-color: #4b0082 !important;
  }