
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding-top: 70px; /* Navbar yüksekliği kadar boşluk bırak */
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.custom-card {
  background-color: #e8eaf6;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #eee;
}

.navbar .nav-link {
  color: #f0e6ff !important;
}
.navbar .nav-link.active {
  font-weight: bold;
  text-decoration: bold;
}
.container {
max-width: 900px; /* Sayfa genişliği sınırı */
margin: 0 auto;   /* Ortalamak için */
}
